* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
}

.brand {
    display: flex;
}

.logo_navbar {
    margin-left: .5rem;
    width: 50px;
    height: 50px;
    animation: shake-baidu 1.5s ease 0s infinite;
    animation-play-state: paused
}

.logo_navbar:hover {
    animation-play-state: running;
}

@keyframes shake-baidu {
    from {
        transform: rotate(0deg);
    }

    4% {
        transform: rotate(5deg);
    }

    12.5% {
        transform: rotate(-5deg);
    }

    21% {
        transform: rotate(5deg);
    }

    29% {
        transform: rotate(-5deg);
    }

    37.5% {
        transform: rotate(5deg);
    }

    46% {
        transform: rotate(-5deg);
    }

    50%,
    to {
        transform: rotate(0deg);
    }
}


.nav-brand {
    font-family: 'Just Another Hand', cursive;
}

.nav-position {
    justify-content: end !important;
}

.navbar {
    background-color: #ff9900 !important;
}

.nav-link {
    padding: 0 1rem !important;
    transition: all .25s ease-in-out;
}

.nav-link:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.349));
}

.nav-link,
.dropdown-item {
    color: white !important;
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
    background-color: #ff9900 !important;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.241));
}

.webBase {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    background-image: url(../images/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(238, 238, 238);
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(92, 92, 92);
    grid-area: footer;
}

.footer_icons {
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}

.footer_icons-icon {
    color: white;
    transition: all .25s ease-in-out;
    font-size: 1.4rem;
}


.footer_icons-icon:hover {
    color: white;
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.349));
}

.footer_copyright-text {
    color: rgb(159, 159, 159);
    font-size: .7rem;
    margin-bottom: .5rem !important;
}

/* HIDDEN AND SHOW */
.hidden {
    display: none;
}

/* BTN */
.btn {
    background-color: white;
    padding: 0 2rem;
    transition: all .25s ease-in-out;
    margin: 0 0 1rem;
    border: 1px solid rgba(0, 0, 0, 0.46);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    color: rgb(48, 48, 48);
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.46);
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.349));

}

/* CONTACTO */
.contact_container {
    width: 100%;
    height: 100%;
    display: flex;

}

.contact {
    background-color: #ff99008e;
    backdrop-filter: blur(1.6px);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.275);
    width: 70%;
    height: max-content;
    border-radius: 14px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "form stick data";
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.stick {
    margin: auto;
    width: 100%;
    height: 80%;
    background-color: rgba(96, 96, 96, 0.389);
    grid-area: stick;
}


.form_title {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin: 1rem 0 -.1rem;
}

.form_field {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_field-data {
    width: 90%;
    height: 2rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.46);
}

.form_field-text {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.46);
    width: 90%;
    height: 8rem;
    resize: none;
    padding: .5rem;
}

::placeholder {
    color: rgba(0, 0, 0, 0.548);
}

.data {
    grid-area: data;
    margin: auto;
}

.data_schedules {
    width: 100%;
}

.data_schedules-title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

.data_schedules-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    margin: 1rem 0 2rem;
    text-align: center;
}

.data_social {
    margin: auto;
}

.data_social-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    transition: all .25s ease-in-out;
    text-align: center;
}

.data_social-text:hover {
    color: white;
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.349));

}

.data_contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: .5rem;
}

.data_contact-icon {
    color: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all .25s ease-in-out;
}

.data_contact-icon:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.349));
    color: white;
}

.contact_icon {
    padding-right: .5rem;
    font-size: 1.6rem;
}

.contact_data {
    font-size: 1.3rem;
    margin-bottom: 4px !important;
}

.form_approved {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    margin: 1rem 0 2rem;
    text-align: center;
}

.offcanvas.show {
    background-color: #ff9900;
    width: 20%;
}


/* DESTINOS NACIONALES */

.DN_container {
    width: 70%;
    margin: auto;
}

.DN_title {
    margin: 2rem !important;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.1rem;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.099);
    background-color: rgba(255, 255, 255, 0.184);
    backdrop-filter: blur(1px);
    transition: all .25s ease-in-out;

}

.card:hover {
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.23);
    transform: translateY(-4px);
}

.card_img {
    background-color: #cccccc;
    width: 16rem;
    height: 16rem;
    margin: 1rem 0 0.5rem;
    border-radius: 4px;
}

.card_img-img {
    object-fit: cover;
    width: 16rem;
    height: 16rem;
    border-radius: 4px;
}

.card_title {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.5rem;
}

/* ASISTENCIA AL VIAJERO */

.assistance {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.assistance_card {
    background-color: #ff99008e;
    backdrop-filter: blur(1.6px);
    box-shadow: 5px 8px 10px rgb(0 0 0 / 28%);
    height: max-content;
    border-radius: 14px;
    margin: auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "assistance_card-img assistance_card-data";
}

.assistance_card-img {
    grid-area: assistance_card-img;
    margin: auto;
    width: 100%;
}

.assistance_card-img--img {
    margin: .5rem;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.233);
    background-color: #cccccc;
    border-radius: 8px;
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    background-position: center;
}

.assistance_card-data {
    grid-area: assistance_card-data;
    margin: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assistance_card-data--text {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
}

.assistance_card-data--title {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.7rem;
}

.assistance_card-data--contact {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

.assistance_card-data--contact:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.349));
    color: #ffffff;
}



@media screen and (max-width: 1300px) {

    .assistance_card-img--img {
        width: 25rem;
        height: 25rem;
    }

    .assistance,
    .DN_container,
    .contact {
        width: 80%;
    }
}

@media screen and (max-width: 1122px) {
    .assistance_card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "assistance_card-img"
            "assistance_card-data";
    }

    .assistance_card-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .assistance_card-img--img {
        width: 98%;
        height: 10rem;
    }

    .assistance_card-data {
        margin: 1rem 1rem;
    }

    .assistance_card-data--contact {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1000px) {

    .assistance,
    .DN_container,
    .contact {
        width: 90%;
    }

    .footer_icons {
        width: 25%;
    }
}

@media screen and (max-width: 991px) {
    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        border: 0px !important;
        border-radius: 0 !important;
        filter: drop-shadow(0 0 0);
        margin: 0 !important;
    }

    .dropdown-item {
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.051);
    }

    .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.051);
    }

    .dropdown-menu.show {
        width: 100%;
    }
}

@media screen and (max-width: 795px) {
    .assistance_card {
        margin: 3rem auto;
    }

    .footer_icons {
        width: 35%;
    }

    .data_contact {
        margin-bottom: 2rem;
    }

    .assistance,
    .DN_container {
        width: 70%;
    }

    .contact {
        margin: 3rem auto;
        width: 70%;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1px max-content;
        gap: 0px 0px;
        grid-template-areas:
            "form"
            "stick"
            "data";
    }

    .data_schedules-title {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 1.3rem;
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
    }

    .data {
        grid-area: data;
        margin: auto;
        height: 100%;
    }

    .stick {
        margin: auto;
        width: 80%;
        height: 100%;
        background-color: rgba(96, 96, 96, 0.389);
        grid-area: stick;
    }

    .data_social-text {
        width: 80%;
        margin: 0 auto 2rem;
    }
}

@media screen and (max-width: 550px) {

    .assistance,
    .DN_container,
    .contact {
        width: 80%;
    }

    .footer_icons {
        width: 45%;
    }
}

@media screen and (max-width: 425px) {

    .assistance_card {
        margin: 0rem auto;
    }

    .footer_icons {
        width: 55%;
    }

    .assistance,
    .DN_container,
    .contact {
        margin: 1.5rem auto;
        width: 90%;
    }

    .form_title {
        font-size: 1.1rem;
    }

    .data_schedules-title {
        font-size: 1.1rem;
    }

    .data_schedules-text {
        font-size: .9rem;
    }

    .data_social-text {
        font-size: .9rem;
    }

    .contact_data {
        font-size: 1.1rem;
    }

    .contact_icon {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1.1rem;
    }

    .form_field {
        font-size: .9rem;
    }
}